<h1>OIA Calendar</h1>
<script>
function isChecked()
{
var source = "/events.json?";
ids = ["Federal","State","Internal UNM"]
for (i = 0; i < ids.length; i++) {
if (document.getElementById(ids[i]).checked)
{
source += "classes[]="+document.getElementById(ids[i]).value+"&"
}
 }
document.getElementById("calendar").innerText = "";

$('#calendar').fullCalendar({
eventSources: [source]
   })


}
</script>

<div id="filter">
Filter by Report Type:	
<input type="checkbox" id="Federal" value="Federal"  onclick="isChecked(this);">Federal&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" id="State" value="State"  onclick="isChecked(this);">State&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" id="Internal UNM" value="Internal UNM"  onclick="isChecked(this);">Internal UNM&nbsp;&nbsp;&nbsp;&nbsp;
</div>


<br>

<%= link_to 'New Event', new_event_path %>

<div id='calendar'>
</div>