<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @event.project %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Responsible person:</strong>
  <%= @event.responsible_person %>
</p>

<p>
  <strong>Gov type:</strong>
  <%= @event.gov_type %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @event.due_date %>
</p>

<p>
  <strong>Completed date:</strong>
  <%= @event.completed_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to "delete", @event, :method=>:delete, :class=>:destroy %>
