<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
<script src='lib/jquery.min.js'></script>
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script>  
<title>Oiacalendar</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'></script>
<link rel="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css">
<%= yield %>
<script>


	$(document).ready(function() {

	    // page is now ready, initialize the calendar...
		var curSource = new Array();

		$.getJSON("/events.json", function(json){
		    curSource = json;
		});
		
				
		
	    $('#calendar').fullCalendar({
			eventSources: ['/events.json']
	        // put your options and callbacks here
			// events: '/events.json'
	    })

	});
</script>

</body>
</html>
